/** index.css */
@import "./reset.css";
:root {
  --color-gray-50: oklch(98.46% 0.002 247.84);
  --color-gray-100: oklch(96.7% 0.003 264.54);
  --color-gray-200: oklch(92.76% 0.006 264.53);
  --color-gray-300: oklch(87.17% 0.009 258.34);
  --color-gray-400: oklch(71.37% 0.019 261.32);
  --color-gray-500: oklch(55.1% 0.023 264.36);
  --color-gray-600: oklch(44.61% 0.026 256.8);
  --color-gray-700: oklch(37.29% 0.031 259.73);
  --color-gray-800: oklch(27.81% 0.03 256.85);
  --color-gray-900: oklch(21.01% 0.032 264.66);

  /* #52489c */
  --color-ultra-violet: oklch(45.61% 0.132 285.33);
  /* #9bb1ff */
  --color-jordy-blue: oklch(77.39% 0.115 271.47);
  /* #69dc9e */
  --color-emerald: oklch(81.11% 0.138 157.61);
  /* #e6af2e */
  --color-sunray: oklch(78.45% 0.149 83.48);
  /* #ff6663 */
  --color-bittersweet: oklch(70.39% 0.188 24.28);
  /* #0c0910 */
  --color-night: oklch(14.74% 0.016 304.21);
  /* #fafffd */
  --color-mint-white: oklch(99.57% 0.006 170.45);

  --se-color-primary: var(--color-primary, var(--color-ultra-violet));
  --se-color-secondary: var(--color-secondary, var(--color-jordy-blue));
  --se-color-success: var(--color-success, var(--color-emerald));
  --se-color-warning: var(--color-warning, var(--color-sunray));
  --se-color-danger: var(--color-danger, var(--color-bittersweet));
  --se-color-black: var(--color-black, var(--color-night));
  --se-color-white: var(--color-white, var(--color-mint-white));
  --se-color-light: var(--color-light, var(--color-gray-100));
  --se-color-dark: var(--color-dark, var(--color-gray-900));

  --se-font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --se-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --se-font-family-base: var(--se-font-family-sans-serif);

  --se-font-size-base: var(--font-size, 1rem);
  --se-font-size-lg: calc(var(--se-font-size-base) * 1.25);
  --se-font-size-sm: calc(var(--se-font-size-base) * 0.875);

  --se-font-weight-lighter: 200;
  --se-font-weight-light: 300;
  --se-font-weight-normal: 400;
  --se-font-weight-medium: 500;
  --se-font-weight-semibold: 600;
  --se-font-weight-bold: 700;

  --se-line-height-base: calc(var(--se-font-size-base) * 1.5);
  --se-line-height-lg: calc(var(--se-font-size-lg) * 1.5);
  --se-line-height-sm: calc(var(--se-font-size-sm) * 1.5);

  --se-h1-font-size: calc(var(--se-font-size-base) * 2.5);
  --se-h2-font-size: calc(var(--se-font-size-base) * 2);
  --se-h3-font-size: calc(var(--se-font-size-base) * 1.75);
  --se-h4-font-size: calc(var(--se-font-size-base) * 1.5);
  --se-h5-font-size: calc(var(--se-font-size-base) * 1.25);
  --se-h6-font-size: var(--se-font-size-base);
  --se-h1-font-weight: var(--se-font-weight-bold);
  --se-h2-font-weight: var(--se-font-weight-bold);
  --se-h3-font-weight: var(--se-font-weight-semibold);
  --se-h4-font-weight: var(--se-font-weight-semibold);
  --se-h5-font-weight: var(--se-font-weight-medium);
  --se-h6-font-weight: var(--se-font-weight-normal);

  --se-text-color-primary: var(--color-gray-900);
  --se-text-color-light: var(--color-gray-100);
  --se-disabled-text-color: var(--color-gray-500);
  --se-disabled-bg-color: var(--color-gray-200);

  --se-link-color: var(--se-color-primary);
  --se-link-decorator: none;
  /* Makes color 20% darker. */
  --se-link-hover-color: color-mix(
    in oklch,
    var(--se-color-primary) 80%,
    black
  );
  --se-link-hover-decorator: underline;

  --se-body-bg-color: var(--color-white);
  --se-body-text-color: var(--color-black);
  --se-body-text-align: null;

  --se-border-width: 1px;
  --se-border-style: solid;
  --se-border-color: color-mix(in oklch, var(--se-color-primary) 80%, black);
  --se-border-color-light: color-mix(
    in oklch,
    var(--se-color-primary) 80%,
    white
  );
  --se-border: var(--se-border-width) var(--se-border-style);
  --se-border-radius-md: 0.375rem;
  --se-border-radius-lg: 0.5rem;
  --se-border-radius-sm: 0.25rem;

  --se-transition-duration: 0.4s;
  --se-transition-duration-fast: 0.2s;
}
