/** reset.css */
body {
  font-family: var(--se-font-family-sans-serif);
  font-weight: var(--se-font-weight-normal);
  font-size: var(--se-font-size-base);
  line-height: var(--se-line-height-base);
  color: var(--se-color-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--se-color-primary);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--se-link-hover-color);
  }

  &:active {
    color: var(--se-link-hover-color);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: var(--se-h1-font-size);
  font-weight: var(--se-h1-font-weight);
}

h2 {
  font-size: var(--se-h2-font-size);
  font-weight: var(--se-h2-font-weight);
}

h3 {
  font-size: var(--se-h3-font-size);
  font-weight: var(--se-h3-font-weight);
}
h4 {
  font-size: var(--se-h4-font-size);
  font-weight: var(--se-h4-font-weight);
}
h5 {
  font-size: var(--se-h5-font-size);
  font-weight: var(--se-h5-font-weight);
}
h6 {
  font-size: var(--se-h6-font-size);
  font-weight: var(--se-h6-font-weight);
}

p {
  font-size: inherit;
  line-height: var(--se-line-height-base);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

sup,
sub {
  font-size: calc(var(--se-font-size-base) - 1px);
}

small {
  font-size: calc(var(--se-font-size-base) - 2px);
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid var(--se-border-color);
}
