@import '../lib/base/base';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after {
    box-sizing: border-box;
}
*::before {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

$main-color: #314199;

.page {
    padding: 0;
    margin: 0;
}

.page-header {
    background-color: $main-color;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    .page-logo-container {
        display: flex;
        align-items: center;
        .page-logo {
            width: 80px;
            height: 80px;
            fill: #FFFFFF;
        }
        .page-title {
            color: #FFFFFF;
            font-size: 2em;
        }
    }
    .page-links {
        display: flex;
        align-items: center;
        .page-item {
            > a, .language {
                color: #FFF;
                font-weight: 500;
                font-size: 0.9em;
                padding: 0 2em;
                display: inline-block;
                height: 80px;
                line-height: 80px;
                cursor: pointer;
            }
            .language {
                display: none;
                &.show {
                    display: block;
                }
            }
        }
    }

    &.device {
        padding: 0;

        .page-logo {
            height: 60px;
            width: 60px;
        }

        .page-title {
            font-size: 1.4em;
        }

        .page-item {
            > a {
                padding: 0 1em;
            }
            .language {
                padding: 0 1em;
            }
        }
    }
}

.page-aside {
    box-shadow: 4px 0px 6px 0px rgba(0,0,0,0.3);
    width: 14em;
    padding-top: 80px;
    padding-bottom: 1em;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    .list-title {
        font-size: 0.8em;
        color: rgba(0, 0, 0, .6);
        margin: 10px 0 10px 1em;
    }
    ul {
        list-style: none;
    }
    ul > li {
        cursor: pointer;
        > a {
            display: inline-block;
            height: 100%;
            width: 100%;
            color: #000;
            padding: 1em 1em 1em 2.3em;
        }
        &:hover {
            background-color: #eee;
        }
        > .active {
            background-color: #EEEEEE;
        }
    }

    &.device {
        width: 13em;
        box-shadow: none;
    }
}

.page-main {
    padding: 1em;
    margin-left: 14em;
    margin-top: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    width: calc(100% - 14em);

    &.device {
        padding: 1em;
        margin-left: 0;
        margin-top: 110px;
        width: 100%;
    }
}

.drawer-container {
    .affix {
        position: fixed;
        top: 90px;
        left: 0;
    }
}

pre {
    font-size: 14px;
    margin: 1em 0;
    font-family: Consolas,Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: 1em;
    box-shadow: 6px 0px 6px 0px rgba(0,0,0,0.3);
}


