@import '../../lib/base/base';

.seele-doc {
  .page-title {
    font-size: 2rem;
    color: #303f9f;
    margin-bottom: 30px;
  }
  .page-description {
    line-height: 1.5;
  }

  .installation {
    margin: 30px 0;

    .install-title {
      font-size: 1.5rem;
      font-weight: 300;
      color: #303f9f;
      margin-bottom: 20px;
    }
    .install-description {

      .install-link {
        text-decoration: underline #303f9f;
      }
    }
  }

  .quote {
    padding: 30px 1.2em;
    background-color: rgba(0,0,0,.05);
    margin: 20px -1em;
    color: #333333;
  }
}