@import "../../lib/base/base";

.drawerExample {
  margin-left: 14px;
  h4 {
    margin-bottom: 12px;
  }
}

.examples {
  display: flex;
  .drawer {
    margin-right: 48px;
    &:last-child {
      margin-right: 0;
    }

    p {
      margin-bottom: 12px;
    }
  }
}

.drawer-overview {
  font-size: 14px;
  margin-bottom: 24px;
}

.right-text {
  text-align: right;
  margin-right: 10px;
}
