@import '../../lib/base/base';

.row-container {
  margin: 30px 0;

  .row {
    margin: 30px 0;
  }
  
  .sub-title {
    margin: 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
  }
}

.item {
  background: $light-main-color;
  color: #FFFFFF;
  line-height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  &.offset {
    background-color: $ex-light-main-color;
  }
}

.noGutter {
  .item {
    border-right: 2px solid rgba(49, 65, 153, .9);
    border-left: 2px solid rgba(49, 65, 153, .9);
  }
}

.vertical-container {
  margin: 30px 0;
  background-color: #dddddd;
}

.vertical {
  height: 100px;
}

.api-wrapper {
  margin-bottom: 24px;
  .api-title {
    margin-bottom: 12px;
  }
}
