@import '../../lib/base/base';

.dialogExample {
  margin-left: 14px;
}

.component-overview {
  margin-bottom: 12px;
}

.dialog-overview {
  margin-bottom: 24px;
  font-size: 14px;
}

.dialog-button {
  margin: 6px;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
