@import '../../lib/base/base';

.dialogExample {
  margin-left: 14px;
}

.component-overview {
  margin-bottom: 12px;
}

.dialog-overview {
  margin-bottom: 24px;
  font-size: 14px;
}

p {
  font-size: 14px;
  margin-top: 12px;
  color: rgba(0, 0, 0, .65);
}

.dialog-button {
  margin: 6px 0;
}
